[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
pyvmomi = "==6.7.1"
pysphere = "*"
django = "*"
psycopg2-binary = "==2.8.6"
pytest = "*"
ipaddress = "*"
arrow = "*"
djangorestframework = "==3.11.1"
djangorestframework-simplejwt = "==4.5.0"

[requires]
python_version = "3.8"
