[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
pyvmomi = "==6.7.1"
pysphere = "*"
django = "==3.0"
psycopg2-binary = "==2.8.6"
pytest = "*"
ipaddress = "*"
arrow = "*"
djangorestframework = "==3.11.1"
djangorestframework-simplejwt = "==4.5.0"
django-field-history = "==0.8.0"
celery = "==4.4.2"
redis = "==3.5.3"
ipython = "*"
flower = "*"
django-celery-beat = "==1.5.0"
tenacity = "==6.2.0"
pydantic = "*"
kubernetes = "*"
ipy = "*"

[requires]
python_version = "3.8"
